@import "tailwindcss";

@theme {
  --color-ganache-yellow-light: #fbb76d;
  --color-ganache-yellow-dark: #e4a663;
  --color-ganache-brown-light: #5e464d;
  --color-ganache-brown-dark: #4a3b3f;

  --color-dark: #242424;
  --color-dark-text: #f9fafb;

  --color-light: #f2ede7;
  --color-light-text: #1e1e1e;

  --color-gray: #848484;

  --color-search: #444444;
  --color-search-border: #848484;

  --color-table: #f2f2f2;
  --color-table-alt: #fefefe;
  --color-table-border: #d7d4d4;
  --color-table-text: #757575;
}

@layer components {
  .dark-mode {
    @apply dark:bg-dark dark:text-dark-text;

    --color-search: #444444;
    --color-search-border: #555555;

    --color-table: #545454;
    --color-table-border: #5a5a5a;
    --color-table-alt: #585858;
    --color-table-text: #fefefe;
  }
  .light-mode {
    @apply bg-light text-light-text;

    --color-search: #fefefe;
    --color-search-border: #e3e3e3;
  }
}

:root {
  font-family: -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial,
    "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  max-width: 100vw;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
.button {
  /* background-color: #3e68ff; */
  outline: none;
  color: #fff;
  text-decoration: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
  min-width: 10ch;
  padding: 0.25em 0.75em;
  min-height: 44px;
  text-align: center;
  line-height: 1.1;
  transition: 220ms background-color ease-in-out;
}
.fade-in {
  animation: fadeIn 300ms ease-in forwards;
}
.grow-animation {
  animation: grow 300ms ease-in forwards;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #fefefe;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes grow {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

/* Custom scrollbar */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: #5e464d;

  border-radius: 100px;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: #4a3b3f;
}
